@import "tailwindcss";

@theme {
  --color-purple-900: #1C0034;
  --color-purple-700: #49008A;
  --color-purple-500: #621E9E;
  --color-purple-300: #8915EF;
  --color-purple-100: #E0BDFF;

  --font-body: 'Sora', system-ui, sans-serif;
  --font-heading: 'Unbounded', system-ui, sans-serif;
}
